body{
    background-color: rgb(69, 78, 78);
}
#frame{
    display: flex;
    align-items: center;
    justify-content: center;
}
#elo{
    border:1px solid #000000;
}
#counter{
    width:100px
}